 <!-- footer -->
<!--  <div id="footer" style="background-color: #caefff; height: 50px; width: 100%; font-family: arial; text-align: center;">
            <hr>
            &#169 2021 (Bibliotheca)
        </div>
</body>
</html> -->
<!-- footer -->
        <div id="footer" style="background-color: #caefff; height: 100%; width: 100%; font-family: arial; text-align: center;">

 <hr>
<!-- facebook icons-->
     <a href="#" style="text-decoration: none;">
                    <i title="facebook" class="fab fa-facebook-square" style="font-size:35px; color:black;"></i>
                </a>

<!-- instagram icons-->
     <a href="#" style="text-decoration: none;">
                    <i title="instagram" class="fab fa-instagram-square" style="font-size:35px; color:black;"></i>
                </a>

<!-- linkedin icons-->
     <a href="#" style="text-decoration: none;">
                    <i title="linkedin" class="fab fa-linkedin" style="font-size:35px; color:black;"></i>
                </a>

<!-- twiter icons-->
     <a href="#" style="text-decoration: none;">
                    <i title="twiter" class="fab fa-twitter-square" style="font-size:35px; color:black;"></i>
                </a>

            <hr>
            &#169 2021 (Bibliotheca)

        </div>

    </body>
</html>