<hr>
    <h1 align="center"><u>MD MUZAKKER HOSSAIN</u></h1>
    <hr>
    <br>
    <span style="font-size: 25px;">
        Hi, I'm a undergrad student in Computer Science at <a href="https://aiub.edu/" target="_blank">American International University-Bangladesh</a>.
        <br>
        I'm passionate about Machine Learning and Natural Language Processing. 
        <br>
        But I do not confine myself within a particular branch. 
        <br>
        I have completed a course on Quantum Mechanics using Wave Mechanics and Matrix Mechanics. 
        <br>
        That shows the dynamics of my learnings. I believe that one is never old to learn something new.
    </span>
<br><br><br>